<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv ="X-UA-Compatible" content="IE=edge" />
    <title>Страница пользователя</title>


{% load static %}
    <link rel="icon" href="{% static "media/favicon.ico" %}" type="image">
    <link rel="stylesheet" href="{% static "style/test_cs_style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "script/jquery-ui.min.css"  %}" />
	 
    {% block javascript %}    
	<script type="text/javascript" src="{% static "script/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "script/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "script/sort.js" %}"></script>
    {% endblock %}
    
</head>
<body>  
    
  <h1 class="myhead">Страница пользователя</h1>
  <div>Минимальное значение по 100 записям: {{avg_100}}</div>
  <div>Максимальное значение по 100 записям: {{max_100}}</div>
  <div>Среднее значение по 100 записям: {{min_100}}</div>
  <div>Минимальное значение по всем записям: {{avg_all}}</div>
  <div>Максимальное значение по всем записям: {{max_all}}</div>
  <div>Среднее значение по всем записям: {{min_all}}</div>
  <form id="form1" method="GET" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="block">
    <table class="mytable" id="sortable">   
    <thead>
    <tr id="table_head">
        <th> # </th>
        <th>Процент</th>
        <th>Время</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.percentage }}</td>
        <td>{{ item.check_date }}</td>        
    </tr>
    {% endfor %}
   </tbody>
   </table>    
  </div>  
  </form>
</body>
</html>